// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "node_modules/font-awesome/scss/font-awesome.scss";
// Variables
@import 'variables';
@import '_bootswatch.scss';
// Bootstrap
@import '~bootstrap/scss/bootstrap';